<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptates officia, ipsum magnam explicabo ad beatae incidunt temporibus dicta. Laudantium alias quas esse temporibus reprehenderit, nobis dicta aliquid sed cumque reiciendis architecto maxime id quibusdam expedita sint accusantium in consectetur.</p>
        
    </div>
</div>