<div class="jumbotron mt-4">
    <h1 class="display-4"> Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, ex!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium porro accusamus hic in numquam, totam sed quos vitae libero provident cum eum modi, natus, assumenda deserunt deleniti culpa a adipisci!</p>
    <a href="https://habanactiva.com" class="btn btn-primary btn-lg">Habanactiva</a>

</div>